{namespace moc=Tx_MocPoll_ViewHelpers}

<div class="boxy mocPoll moc-poll">
	<div class="boxTop">
		<h5 class="cufon">Sådan har vælgerne stemt</h5>
	</div>
	<hr />
	<div class="content">
		<h5>{poll.question}</h5>
		<div class="pollResults">
			<ul class="chartlist">
				<f:for each="{poll.responses}" as="anwser">
        		<li><strong>{anwser.reply}</strong>
				<span class="count"><moc:percent total="{poll.totalCount}" issueCount="{anwser.count}" />%</span>
				<div class="percentContainer">
				    <span class="index" style="width:<moc:percent total="{poll.totalCount}" issueCount="{anwser.count}" />%">(<moc:percent total="{poll.totalCount}" issueCount="{anwser.count}" />%)</span>
				</div></li>
      			</f:for>
			</ul>
		</div><!-- end .pollResults -->
		<p>Antal stemmer: <span>{poll.totalCount}</span></p>
		<div class="clear"><!-- IE fix --></div>
	</div><!-- end .content -->
</div><!-- end .boxy -->
<div class="clear"><!-- IE fix --></div>
