{namespace moc=Tx_MocPoll_ViewHelpers}
<h2 class="cufon">{poll.question}</h2>
<div class="pollResults">
	<ul class="chartlist">
		<f:for each="{poll.responses}" as="anwser">
			<li><span class="responsetitle">{anwser.reply}</span>
				<div class="percentContainer">
					<span class="indexnumber"><moc:percent total="{totalCount}" issueCount="{anwser.count}" />%</span>
					<span class="index" style="width:<moc:percent total="{totalCount}" issueCount="{anwser.count}" />%"></span>
				</div>
			</li>
      	</f:for>
	</ul>
</div>
<p>Antal stemmer: <span>{totalCount}</span></p>
<div class="clear"><!-- IE fix --></div>